<html>
    <head>
        <title>Login</title>
    </head>
    <body>
        <div class="login-container">
            <h1>Login</h1>
            <br>
            <form action="" method="post">
                <input type="text" placeholder="Username" name="username" required>
                <input type="password" placeholder="Password" name="password" required>
                <input class="btn btn-default" type="submit" value="Login">
            </form>
            <p class="error"><strong>Error:</strong>
        </div>
    </body>
</html>