<html>
    <head>
        <title>Login</title>
    </head>
    <body>
        <div class="login-container">
            <h1>Login</h1>
            <br>
            <form action="/login" method="post">
                <input type="text" placeholder="Username" name="username" value="{{request.form.username }}">
                <input type="password" placeholder="Password" name="password" value="{{request.form.password }}">
                <input class="btn btn-default" type="submit" value="Login">
            </form>
            {% if error %}
                <p class="error"><strong>Error:</strong> {{ error }}
            {% endif %}
        </div>
    </body>
</html>